.retnews-post-list-wrap{
    
    /* overflow-x: scroll; */
    overflow: hidden;
    width: 100%;

}

.retnews-post-list-wrap::-webkit-scrollbar{
    width: 0px;
}
.retnews-post-list-wrap > a{
    text-decoration: none;
    padding: 0 8px;
}
.retnews-card{
    /* min-width: 280px; */
    &--post{
        position: relative;
        background: rgb(255,255,255);
        padding: 4px 8px;
        border-radius: 4px;
        height: 91%;
        overflow: hidden;
        width: 100%;
        margin: 8px auto;
        box-shadow: -1px 4px 9px 0px rgba(0,0,0,0.1);
        h2{
            margin: 8px auto;
        }
    }
    &--header{
        margin: 8px auto;
    }
    &--footer{
        position: absolute;
        bottom: 0;
        width: 94%;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: space-between;
       
    }

}

.retnews-card--header{
    display: flex;
    align-items: center;
}
