
.resto-input-search{
  position: relative;
  background: transparent;
  border: none;
  color: #B7BBC4;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: normal;
  outline: none;
  padding: 0;
  width: 100%;
  height: 48px;
  margin: 0 0 0 8px;
  font-weight: 600;
  letter-spacing: .2px;
}
.resto-container{

  &.active{
    // position: absolute;
    background-color: #fdfdfd;
    top: 0;
    left: -1px;
    width: 99.78vw;
    padding: 11px;
    border-radius: 0px;
    z-index: 2;
    margin: -79px auto;
    padding: 20px 0;
    top: 70px;

    .resto-form{
      width: 390px !important;
      max-height: 82vh;
      padding: 8px;

      box-shadow: 0px 9px 10px 0px rgba(0, 0, 0, 0.16);
      
    }
  
  }
}

.resto-form{
  margin: 20px auto;
  border-radius: 8px;
  color: #B7BBC4;
  &.sticky{
    position: fixed;
    background-color: #fdfdfd;
    top: 0;
    left: -1px;
    width: 99.78vw;
    padding: 11px;
    border-radius: 0px;
    z-index: 2;
    margin: 0 0;
    animation: moveDown 0.5s ease-in-out;

  }
}
.resto-input-wrap{
  position: relative;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: -1px 4px 9px 0px rgba(0,0,0,0.1);
  border-radius: 4px;
  z-index: 1;
}
.resto-dot-wrap {
  position: absolute;
  display: flex;
  right: -13px;
  align-items: center;
}


.resto-label-icon{
  margin-top: 4px;
  padding: 8px 12px;
  max-width: 60px !important;
  svg{
    fill: #B7BBC4;
    transform: scale(0.9);
  }
  &.active::before{
    content: '';
    position: absolute;
    float: right;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: red;
  }
}
.resto-span{
  position: relative;
  align-items: center;
  display: flex;
  // &:not(:last-child){
  //   width: 100%;
  // }
  &:first-child{
    width: 100%;
  }
  &:last-child{
    padding-right: 8px;
  }
}
.resto-location-active{
  text-align: center;
  width: 100%;
}
.resto-dropdown {
  &-search--result, &--location{
    width: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: -1px 4px 9px 0px rgba(0, 0, 0, 0.1);
    margin: 4px auto;
  }
  &--location{
    padding: 8px 0;
  }
  &-search--result{
    padding: 18px 8px;
  }
}

// dots

@keyframes dot-keyframes {
  0% {
    opacity: .4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: .4;
    transform: scale(1, 1);
  }
}

.loading-dots {
  text-align: center;
  width: 40px;
  display: flex;
  padding: 0 8px;
  &--dot {
    animation: dot-keyframes 1.5s infinite ease-in-out;
    background-color: #000;
    border-radius: 10px;
    align-items: center;
    height: 6px;
    width: 6px;
    &:not(:last-child){
      margin-right: 2px;
    }
    &:nth-child(2) {
      animation-delay: .5s;
    }
    
    &:nth-child(3) {
      animation-delay: 1s;
    }
  }
}

// container Loader

.resto-search--wrap {
  position: relative;
  height: 538px;
  margin: 0 auto;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
 }
 .resto-search--wrap::-webkit-scrollbar {
     width: 0;
 }
 .resto-search--wrap::-webkit-scrollbar-thumb {
   background-color: #e4e4e4;
 }
 .resto-search--wrap::-webkit-scrollbar-track {
     background-color: #F5F5F5;
 }
 
 .contresto-search--wrapainer::-webkit-scrollbar-corner {
   background-color: #F5F5F5;
   display: none;
 }
 
 .card1 {
  //  width: 328px;
   height: 100%;
   width: 100%;

   margin: 16px auto;
   background-color: #ffffff;
   border-radius: 2px;
   box-shadow: 5px 6px 11px 0px rgba(0, 0, 0, 0.08);
 }
 
 .element1,  .element2,  .element3,  .element4{
   transform: scale(0.4);
 }
 .element1 {
    //  top: 16px;
    //  left: 50px;
    top: 7px;
    left: -50px;
    height: 24px;
    width: 220px;
 }
 .element2 {
    //  top: 36px;
    //  left: 80px;
    top: -14px;
    left: -32px;
    height: 68px;
    width: 160px;
 }
 
 .element3 {
    //  top: 58px;
    //  left: 16px;
    top: -32px;
    left: -73px;
    height: 14px;
    width: 296px;
 }
 
 .element4 {
    //  top: 68px;
    //  left: 16px;
    top: -34px;
    left: -73px;
    height: 14px;
    width: 296px;
 }
 
 
 
 
 
 .gradient {
    position: relative;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
    background-size: 1000px 640px;
     
     
 }
 
 @keyframes placeHolderShimmer{
     0%{
         background-position: -468px 0
     }
     100%{
         background-position: 468px 0
     }
 }
 

 

@media (max-width: 535px) {
.resto-span{

  &:last-child{
    display: none;
  }
  &:nth-child(2){
    width: 46px;
  }
}
.resto-container{

  &.active{
    margin: -79px auto;
    padding: 0 0 !important;
    top: 70px;
    padding: 4px;
    .resto-form{
      margin: 10px auto;
      width: 100% !important;
      height: 100%;

    }
  }
 
}
}

@media (max-width: 832px) {
  .resto-form{
    max-width: 100%;
  }
 
  .resto-container {
    &.find{
      padding: 143px 8vw 0 8vw !important;
    }
  }
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0rem);
  }
}
