.resto-card--testimonal{
  border-radius: 8px;
  border: 1.8px solid #2D2C2C;
  padding: 18px 20px;
}
.resto-user--testimonal{
  strong{
    text-align: left;
  }
}
.resto-costumer-testimonal{
  text-align: right;
  p{
    margin: 4px 0;
  }
}
.resto-avatar-img{
  margin-right: 20px;
  img{
    width: 80px;
    border-radius: 100%;
  }
}



@media (max-width: 680px) {
  .resto-container {
    &.testimonal{
    padding: 12px 8vw 0 8vw !important;
  }
  }
}
